/* 
********************************
MOBILE:
********************************
*/
@media (max-width: 640px) {
  :root {
    /* Containers & Dimensions */
    --panel-width: 21.44rem; /* 343px */
  }

  body {
    font-size: var(--fs-sm);
  }

  /* 
********************************
MAIN:
********************************
*/
  .password-generator {
    width: var(--panel-width);
    margin: 3.875rem auto; /* 62px */
  }

  .password-generator__display-text,
  .password-generator__length-value {
    font-size: var(--fs-lg);
  }

  /* Heading */
  .password-generator__title {
    font-size: var(--fs-sm);
    margin-bottom: var(--space-sm);
  }

  /* 
****
Password Generator Display 
****
*/
  .password-generator__display {
    height: 3.875rem; /* 64px */

    padding: var(--space-sm);
  }

  .password-generator__display-clipboard svg {
    width: var(--space-sm);
  }
  .copy-message {
    font-size: var(--fs-sm);
  }

  /* 
****
Password Generator Controls 
****
*/
  .password-generator__panel {
    padding: var(--space-sm);
  }

  /* Character length */
  .password-generator__character-length {
    margin-bottom: var(--space-xs);
  }

  /* Password Strength */
  .password-generator__strength {
    height: 3.5rem; /* 56px */
    padding: var(--space-sm);
    margin-bottom: var(--space-sm);
  }

  .password-generator__strength-text {
    font-size: var(--fs-md);
  }

  /* Generate Button */
  .password-generator__generate-button {
    height: 3.5rem; /* 56px */
  }

  /* 
********************************
FOOTER:
********************************
*/
  .attribution {
    margin: var(--space-sm) var(--space-lg);
  }
}
