:root {
  /* Colors: */
  --clr-grey-950: #08070b;
  --clr-grey-900: #14131b;
  --clr-grey-850: #18171f;
  --clr-grey-800: #24232c;
  --clr-grey-700: #54535b;
  --clr-grey-600: #817d92;
  --clr-grey-200: #e6e5ea;
  --clr-green-200: #a4ffaf;
  --clr-yellow-300: #f8cd65;
  --clr-orange-400: #fb7c58;
  --clr-red-500: #f64a4a;

  /* Semantic colors/gradients */
  --clr-attribution: #3e52a3;
  --clr-background-gradient: linear-gradient(
    90deg,
    rgba(20, 19, 27, 1) 0%,
    rgba(8, 7, 11, 1) 100%
  );

  /* Font sizes (in rem) */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px body text */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 2rem; /* 32px */

  /* Containers & Dimensions */
  --wrapper-width: 90rem; /* 1440px */
  --panel-width: 540px; /* 540px */

  /* Spacing scale (rem) */
  --space-sm: 1rem; /* 16px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */

  /* Border-radius scale */
  --radius-circle: 50%; /* circular elements */

  /* Line heights */
  --lh-base: 1.33;
  --lh-sm: 1.25;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/
@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('/assets/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: var(--fs-md);
  /* font-weight: 400; */
  line-height: var(--lh-base);
  letter-spacing: 0;

  color: var(--clr-grey-200);
  background: var(--clr-background-gradient);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
********************************
MAIN:
********************************
*/
.password-generator {
  width: var(--panel-width);
  margin: 133px auto;
}

/* Heading */
.password-generator__title {
  margin-bottom: var(--space-lg);
  font-size: var(--fs-lg);
  text-align: center;
  color: var(--clr-grey-600);
}

.password-generator__container {
}

/* 
****
Password Generator Display 
****
*/
.password-generator__display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: var(--space-sm) var(--space-lg);
  margin-bottom: var(--space-sm);
  color: var(--clr-grey-700);
  background-color: var(--clr-grey-800);
}

.password-generator__display-text {
  font-size: var(--fs-xl);
}

.password-generator__display-clipboard {
  background: var(--clr-grey-800);
  border: none;
}

/* 
****
Password Generator Controls 
****
*/
.password-generator__panel {
  padding: 33px var(--space-lg) 42px;
  background-color: var(--clr-grey-800);
}

/* Character length */
.password-generator__character-length {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.password-generator__label {
}

.password-generator__length-value {
  font-size: var(--fs-xl);
  color: var(--clr-green-200);
}

#password-length {
  width: 100%;
  margin: 10px 0;
  border-radius: 0;
}

/* Chrome / Safari */
#password-length::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--clr-grey-850);
}

/* Firefox */
#password-length::-moz-range-track {
  height: 8px;
  background: var(--clr-grey-850);
}

#password-length {
  -webkit-appearance: none;
  appearance: none;
}

#password-length::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  margin-top: -10px;
  border-radius: var(--radius-circle);
  background: var(--clr-grey-200);
}

/* Character groups checkboxes */
.password-generator__checkbox-group {
  margin: var(--space-lg) 0;
  border: none;
}

.password-generator__checkbox-group div {
  display: flex;
  gap: var(--space-md);
  align-items: center;
  margin-bottom: var(--space-sm);
}

.password-generator__checkbox-group div:last-of-type {
  margin-bottom: 0;
}

.password-generator__checkbox-group input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;

  width: 20px;
  height: 20px;
  border: 2px solid var(--clr-grey-200);
  background: var(--clr-grey-800);

  display: grid;
  place-items: center;
}

.password-generator__checkbox-group input[type='checkbox']::after {
  content: '';
  width: 8px;
  height: 13px;
  transform: rotate(45deg);
  opacity: 0;
  border: solid var(--clr-grey-800);
  border-width: 0 3px 3px 0;
}

.password-generator__checkbox-group input[type='checkbox']:checked {
  background: var(--clr-green-200);
}

.password-generator__checkbox-group input[type='checkbox']:checked::after {
  opacity: 1;
}

/* Password Strength */
.password-generator__strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-md) var(--space-lg);
  margin-bottom: var(--space-lg);
  background-color: var(--clr-grey-850);
}

.password-generator__strength-label {
  text-transform: uppercase;
  color: var(--clr-grey-600);
}

.password-generator__strength-feedback {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}
.password-generator__strength-text {
  color: var(--clr-grey-200);
  text-transform: uppercase;
  font-size: var(--fs-lg);
}

.password-generator__strength-bars {
  display: flex;
  gap: 8px;
}

.password-generator__strength-bar {
  width: 10px;
  height: 28px;
  border: solid 2px var(--clr-grey-200);
}

.password-generator__strength-bar--active {
  background-color: var(--clr-yellow-300);
  border: none;
}

/* Generate Button */
.password-generator__generate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-md);
  width: 100%;
  height: 65px;
  font-size: var(--fs-md);
  text-transform: uppercase;
  border: none;
  background-color: var(--clr-green-200);
}

.password-generator__generate-button img {
  width: 12px;
}

/* 
********************************
FOOTER:
********************************
*/

/*UPDATE VALUES!*/
.attribution {
  text-align: center;
  margin-bottom: var(--space-xl);

  font-size: var(--fs-xs);
  color: var(--clr-attribution);
}

/* LINKS */
/* Default State */
.attribution a:link {
  color: var(--clr-attribution);
  text-decoration: none;
}

/* Visited State */
.attribution a:visited {
  color: var(--clr-attribution);
}

/* State On Hover / Whilst being clicked */
.attribution a:hover,
.attribution a:active {
  opacity: 0.75;
}

/* 
********************************
UTILITY CLASSES:
********************************
*/
.hidden {
  display: none;
}

.visually-hidden,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
