:root {
  /* Colors: */
  --clr-grey-950: #08070b;
  --clr-grey-900: #14131b;
  --clr-grey-850: #18171f;
  --clr-grey-800: #24232c;
  --clr-grey-700: #54535b;
  --clr-grey-600: #817d92;
  --clr-grey-200: #e6e5ea;
  --clr-green-200: #a4ffaf;
  --clr-yellow-300: #f8cd65;
  --clr-orange-400: #fb7c58;
  --clr-red-500: #f64a4a;

  /* Semantic colors/gradients */
  --clr-attribution: #3e52a3;
  --clr-background-gradient: linear-gradient(
    90deg,
    rgba(20, 19, 27, 1) 0%,
    rgba(8, 7, 11, 1) 100%
  );

  /* Font sizes (in rem) */
  --fs-xs: 0.75rem; /* 12px */
  --fs-sm: 0.875rem; /* 14px */
  --fs-md: 1rem; /* 16px body text */
  --fs-lg: 1.125rem; /* 18px */
  --fs-xl: 1.75rem; /* 28px */

  /* Font weights */
  --fw-thin: 100;
  --fw-extraLight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --fw-extraBold: 800;
  --fw-black: 900;

  /* Containers & Dimensions */
  --wrapper-width: 90rem; /* 1440px */
  --panel-width: 540px; /* 540px */

  /* Spacing scale (rem) */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 0.75rem; /* 12px */
  --space-lg: 1rem; /* 16px */
  --space-xl: 1.5rem; /* 24px */
  --space-2xl: 2rem; /* 32px */
  --space-3xl: 2.5rem; /* 40px */

  /* Border-radius scale */
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 1rem; /* 16px */
  --radius-circle: 50%; /* circular elements */

  /* Line heights */
  --lh-base: 1.5;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/assets/fonts/JetBrainsMono-Bold.woff2') format('woff2'),
    url('/assets/fonts/JetBrainsMono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-weight: inherit;
}

body {
  font-family: 'JetBrains Mono', sans-serif;
  font-size: var(--fs-md);
  font-weight: 400;
  line-height: var(--lh-base);
  letter-spacing: 0;

  color: white;
  background: var(--clr-background-gradient);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
********************************
MAIN:
********************************
*/
h1 {
  text-align: center;
  font-size: var(--fs-xl);
  color: var(--clr-purple-950);
}

/* 
********************************
FOOTER:
********************************
*/

/*UPDATE VALUES!*/
.attribution {
  text-align: center;
  margin-bottom: var(--space-xl);

  font-size: var(--fs-xs);
  color: var(--clr-attribution);
}

/* LINKS */
/* Default State */
.attribution a:link {
  color: var(--clr-attribution);
  text-decoration: none;
}

/* Visited State */
.attribution a:visited {
  color: var(--clr-attribution);
}

/* State On Hover / Whilst being clicked */
.attribution a:hover,
.attribution a:active {
  opacity: 0.75;
}

/* 
********************************
UTILITY CLASSES:
********************************
*/
.hidden {
  display: none;
}

.visually-hidden,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
